<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_txt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{592,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,176}}</string>
                <key>sourceSize</key>
                <string>{592,176}</string>
            </dict>
            <key>guide_txt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{630,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,181}}</string>
                <key>sourceSize</key>
                <string>{630,181}</string>
            </dict>
            <key>guide_txt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{411,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,303}}</string>
                <key>sourceSize</key>
                <string>{411,303}</string>
            </dict>
            <key>guide_txt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{615,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,188}}</string>
                <key>sourceSize</key>
                <string>{615,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lang.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:887404f5266153282c8cdd754fc1b0b6:1f8b4624205a46668fe0672cbde79cda:544fe1029749781de258057f90ece2af$</string>
            <key>textureFileName</key>
            <string>lang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
