<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_txt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,198},{570,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,195}}</string>
                <key>sourceSize</key>
                <string>{570,195}</string>
            </dict>
            <key>guide_txt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,195}}</string>
                <key>sourceSize</key>
                <string>{570,195}</string>
            </dict>
            <key>guide_txt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{565,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,195}}</string>
                <key>sourceSize</key>
                <string>{565,195}</string>
            </dict>
            <key>guide_txt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{428,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,194}}</string>
                <key>sourceSize</key>
                <string>{428,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lang.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd41bdaf54acf1501d8c7011db5d9a03:aaf220b353f1a319568fc90f6a94a40b:544fe1029749781de258057f90ece2af$</string>
            <key>textureFileName</key>
            <string>lang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
