<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{226,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,114}}</string>
                <key>sourceSize</key>
                <string>{226,114}</string>
            </dict>
            <key>btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,518},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,275},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,161},{114,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,63}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,45},{114,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,63}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>btn_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{69,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,41}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,220},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>hero_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,534},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>hero_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,534},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>medal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,615},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,615},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,615},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,277},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>rect_small_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,484},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>text_game_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,277},{178,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,53}}</string>
                <key>sourceSize</key>
                <string>{178,53}</string>
            </dict>
            <key>text_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,220},{200,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,53}}</string>
                <key>sourceSize</key>
                <string>{200,53}</string>
            </dict>
            <key>text_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{196,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,54}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>thorn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,484},{509,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,242}}</string>
                <key>sourceSize</key>
                <string>{509,242}</string>
            </dict>
            <key>thorn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,276},{256,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,162}}</string>
                <key>sourceSize</key>
                <string>{256,162}</string>
            </dict>
            <key>thorn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,332},{304,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,150}}</string>
                <key>sourceSize</key>
                <string>{304,150}</string>
            </dict>
            <key>thorn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{437,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,216}}</string>
                <key>sourceSize</key>
                <string>{437,216}</string>
            </dict>
            <key>tip_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,277},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{18,619}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,619}}</string>
                <key>sourceSize</key>
                <string>{18,619}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6b277809d8df1aaf614d21b27db626b:2c89b7821e962f067aabc9f1a73c9eb6:f825fbbb9a18ab865aa3d3b8d78761c2$</string>
            <key>textureFileName</key>
            <string>main.pvr.ccz</string>
        </dict>
    </dict>
</plist>
